footer{
    .footer__content{
        padding: 36px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-text{
            @media screen and (max-width: 600px) {
                width: 100%;
            }
            font-size: 14px;
            font-weight: 500;
            color: rgba($color: #000000, $alpha: .5);
            >span{
                font-weight: 700;
            }
        }
        &-links{
            @media screen and (max-width: 600px) {
                width: 100%;
                text-align: right;
            }
            a{
                text-decoration: none;
                margin-left: 10px;
                    &:first-child{
                        margin-left: 0;
                    }
                i{
                    font-size: 24px;
                    color: rgba($color: #000000, $alpha: .5);
                }
            }
        }
    }
}