.error-layout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .error__content{
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 480px) {
            flex-wrap: wrap;
        }
        width: 100%;
        &-img{
            width: 40%;
            @media screen and (max-width: 480px) {
                width: 80%;
                margin: 0 auto;
            }
        }
        &-details{
            @media screen and (max-width: 480px) {
                width: 100%;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            &-question{
                font-weight: bold;
                font-size: 32px;
                line-height: 47px;
                color: #202020;
                margin-bottom: 50px;                
            }
            &-answer{
                font-size: 18px;
                line-height: 26px;
                text-align: center;
                color: #828282;
                margin-bottom: 64px;
            }
            .goToHome{
                display: inline-block;
                text-decoration: none;
                padding: 20px 24px;
                border-radius: 50px;
                font-weight: bold;
                font-size: 24px;
                outline: none;
                color: #FFFFFF;
                text-transform: uppercase;
                background-color: #EF5A28;
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
            }
        }
    }
}