.failed__sec{
    margin: 50px 0;
    height: 150px;
    @media screen and (max-width: 480px) {
        min-height: 150px;
        padding: 16px 0;
    }
    width: 100%;   
    background-color: #F3F3F3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    &-icon{
        display: inline-block;
        font-weight: bold;
        font-size: 72px;
        line-height: 88px;
        color: #202020;
        margin: 0 50px;
    }
    &-divider{
        height: 100px;
        width: 2px;
        background-color: #EF5A28;
    }
    &-details{
        margin-left: 32px;
        font-weight: bold;
        font-size: 18px;
        .failed-searched-word{
            line-height: 33px;
            color: #EF5A28;
        }
        .failed-searc-message{
            line-height: 33px;
            color: #202020;
        }
    }
}