.frelated__news{
    width: 100%;
    &-title{
        margin: 40px 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #6F6F6F;
        text-align: center;
    }
    .home__news{
        padding-top: 0;
        &-card{
            padding: 15px;
            box-sizing: border-box;
            border-radius: 8px;
            border: 1px #E1E1E1 solid;
        }
    }
}