body {
  font-family: 'Montserrat', sans-serif;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .container {
    width: 95%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.container-sm {
  width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .container-sm {
    width: 95%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.news-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-desc-details {
  font-size: 11px;
  font-weight: 400;
  margin-right: 25px;
}

.news-desc-details:last-child {
  margin-right: 0;
}

.content-sm-icon {
  display: inline-block;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
  border: 1px solid #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.content-sm-icon:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.content-main-details-tag {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F05A28;
}

.content-main-details-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #393939;
  margin-bottom: 14px;
}

.news-desc.news-desc-content {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
}

.content-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 40px;
}

.content-main-details-paragraph {
  margin-bottom: 30px;
}

.content-main-details-paragraph p {
  font-size: 16px;
  line-height: 23px;
  color: #393939;
}

.content-main-details-paragraph p b {
  font-weight: bold;
}

.aphasia__sec {
  margin: 50px 0;
  height: 150px;
  width: 100%;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aphasia__sec-icon {
  display: inline-block;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  color: #202020;
  margin: 0 50px;
}

@media screen and (max-width: 600px) {
  .aphasia__sec-icon {
    margin: 0;
    margin-right: 5px;
  }
}

.aphasia__sec-divider {
  height: 100px;
  width: 2px;
  background-color: #EF5A28;
}

.aphasia__sec-details {
  margin-left: 32px;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .aphasia__sec-details {
    font-size: 16px;
    line-height: 18px;
    margin-left: 5px;
  }
}

.aphasia__sec-details .aphasia-writer {
  line-height: 33px;
  color: #EF5A28;
}

.aphasia__sec-details .aphasia-message {
  font-style: italic;
  line-height: 23px;
  color: #202020;
}

.content-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-tags .content-tag {
  padding: 5px 24px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  font-size: 12px;
  line-height: 15px;
  margin-right: 18px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .content-tags .content-tag {
    margin-bottom: 5px;
  }
}

.content-tags .content-tag:last-child {
  margin-right: 0;
}

.content-tags .content-tag-title {
  padding: 5px 10px;
  color: white;
  background: #333333;
  font-weight: bold;
}

header {
  width: 100%;
}

header nav {
  width: 100%;
  margin: 22px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header nav .header-input {
  padding: 24px 12px;
  width: 70%;
  border: none;
  border-left: 2px #C4C4C4 solid;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
}

header nav .close-search-bar {
  font-size: 28px;
  cursor: pointer;
}

header nav .search-btn {
  cursor: pointer;
}

header .header__news {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
}

header .header__news-single {
  width: calc((100% - 60px)/4);
  height: 73px;
  border-radius: 8px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  header .header__news-single {
    width: 100%;
    margin-bottom: 10px;
  }
}

header .header__news-single > img {
  height: 100%;
  border-radius: 8px;
  margin-right: 24px;
}

header .header__news-single-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .header__news-single-details .header__news-name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #393939;
}

header .header__news-single-details .header__news-desc {
  font-size: 12px;
  font-weight: 400;
  color: rgba(57, 57, 57, 0.9);
}

.banners {
  padding: 30px 0;
  height: 424px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .banners {
    height: initial !important;
  }
}

.banners .main-banner {
  border-radius: 8px;
  background-size: cover;
  padding: 30px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 480px) {
  .banners .main-banner {
    width: 100%;
    margin-bottom: 20px;
  }
}

.banners .main-banner_big {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#100F0F)), url(../images/main-banner.svg);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #100F0F), url(../images/main-banner.svg);
  width: calc((100% - 24px)/2);
}

@media screen and (max-width: 480px) {
  .banners .main-banner_big {
    width: 100%;
  }
}

.banners .main-banner_small {
  height: calc((100% - 12px)/2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#100F0F)), url(../images/small-main-banner.svg);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #100F0F), url(../images/small-main-banner.svg);
  width: 100%;
}

.banners .main-banner__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.banners .main-banner .news-desc-details {
  color: rgba(255, 255, 255, 0.7);
}

.banners .right-side-banners {
  width: calc((100% - 24px)/2);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .banners .right-side-banners {
    width: 100%;
  }
}

.banners .right-side-banners_bottom {
  height: calc((100% - 12px)/2);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banners .right-side-banners_bottom .small-banner {
  height: 100%;
  width: calc((100% - 24px)/2);
  border-radius: 8px;
  background: #000;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banners .right-side-banners_bottom .small-banner:first-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#100f0f00), color-stop(#100f0fd2), to(#100F0F)), url(../images/small-banner-1.png);
  background-image: linear-gradient(#100f0f00, #100f0fd2, #100F0F), url(../images/small-banner-1.png);
}

.banners .right-side-banners_bottom .small-banner:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#100f0f00), color-stop(#100f0fd2), to(#100F0F)), url(../images/small-banner-2.png);
  background-image: linear-gradient(#100f0f00, #100f0fd2, #100F0F), url(../images/small-banner-2.png);
}

.banners .right-side-banners_bottom .small-banner__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.advertising-sec {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
}

.advertising-sec > img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .advertising-sec > img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.home__news {
  padding: 30px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.home__news-card {
  width: calc((100% - 48px)/3);
  height: 376px;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .home__news-card {
    width: 100%;
  }
}

.home__news-card > img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.home__news-card_tags {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #F05A28;
  margin-bottom: 8px;
}

.home__news-card_title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 16px;
}

.home__news-card .news-desc {
  color: rgba(0, 0, 0, 0.5);
}

.home__news-card_add {
  width: 100% !important;
  height: 100% !important;
}

.home__news > button {
  background-color: initial;
  cursor: pointer;
  margin: auto;
  padding: 22px 24px;
  border: solid 1px #E1E1E1;
  border-radius: 8px;
  outline: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

footer .footer__content {
  padding: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer__content-text {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  footer .footer__content-text {
    width: 100%;
  }
}

footer .footer__content-text > span {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  footer .footer__content-links {
    width: 100%;
    text-align: right;
  }
}

footer .footer__content-links a {
  text-decoration: none;
  margin-left: 10px;
}

footer .footer__content-links a:first-child {
  margin-left: 0;
}

footer .footer__content-links a i {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.failed__sec {
  margin: 50px 0;
  height: 150px;
  width: 100%;
  background-color: #F3F3F3;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .failed__sec {
    min-height: 150px;
    padding: 16px 0;
  }
}

.failed__sec-icon {
  display: inline-block;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  color: #202020;
  margin: 0 50px;
}

.failed__sec-divider {
  height: 100px;
  width: 2px;
  background-color: #EF5A28;
}

.failed__sec-details {
  margin-left: 32px;
  font-weight: bold;
  font-size: 18px;
}

.failed__sec-details .failed-searched-word {
  line-height: 33px;
  color: #EF5A28;
}

.failed__sec-details .failed-searc-message {
  line-height: 33px;
  color: #202020;
}

.frelated__news {
  width: 100%;
}

.frelated__news-title {
  margin: 40px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #6F6F6F;
  text-align: center;
}

.frelated__news .home__news {
  padding-top: 0;
}

.frelated__news .home__news-card {
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  border: 1px #E1E1E1 solid;
}

.error-layout {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.error-layout .error__content {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .error-layout .error__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.error-layout .error__content-img {
  width: 40%;
}

@media screen and (max-width: 480px) {
  .error-layout .error__content-img {
    width: 80%;
    margin: 0 auto;
  }
}

.error-layout .error__content-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .error-layout .error__content-details {
    width: 100%;
  }
}

.error-layout .error__content-details-question {
  font-weight: bold;
  font-size: 32px;
  line-height: 47px;
  color: #202020;
  margin-bottom: 50px;
}

.error-layout .error__content-details-answer {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #828282;
  margin-bottom: 64px;
}

.error-layout .error__content-details .goToHome {
  display: inline-block;
  text-decoration: none;
  padding: 20px 24px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 24px;
  outline: none;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #EF5A28;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.about__content {
  padding: 100px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .about__content {
    padding: 30px 0;
  }
}

.about__content-img {
  width: calc((100%  - 72px)/2);
}

@media screen and (max-width: 480px) {
  .about__content-img {
    width: 100%;
  }
}

.about__content-img > img {
  width: 100%;
}

.about__content-details {
  width: calc((100%  - 72px)/2);
  height: 100px;
}

@media screen and (max-width: 480px) {
  .about__content-details {
    width: 100%;
    height: inherit;
  }
}

.about__content-details-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #EF5A28;
  margin-bottom: 24px;
}

.about__content-details-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #202020;
  margin-bottom: 12px;
}

.about__content-details-contact {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 480px) {
  .about__content-details-contact {
    height: inherit;
  }
}

.about__content-details-contact .contact__ways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__content-details-contact .contact__ways-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .about__content-details-contact .contact__ways-card {
    width: 100%;
    margin-bottom: 20px;
  }
}

.about__content-details-contact .contact__ways-card:first-child {
  margin-right: 84px;
}

.about__content-details-contact .contact__ways-card > a {
  display: inline-block;
  padding: 12px;
  border: 1px #E1E1E1 solid;
  border-radius: 8px;
  margin-right: 18px;
}

.about__content-details-contact .contact__ways-card > a > i {
  font-size: 24px;
  color: #333333;
}

.about__content-details-contact .contact__ways-card-info > p {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.content-1 {
  padding: 50px 0;
}

.content-1__img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 40px;
}

.content-1__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-1__main-sm-group {
  width: 50px;
}

.content-1__main-details {
  width: 702px;
}

@media screen and (max-width: 1140px) {
  .content-1__main-details {
    width: calc((100% - 70px));
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.content1-related-news {
  padding: 50px 0;
}

.content1-related-news_title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #6F6F6F;
  margin-bottom: 30px;
}

.content1-related-news .home__news {
  padding-bottom: 0px;
}

.content-2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 0;
}

.content-2_sm {
  width: 50px;
}

.content-2_main {
  width: 702px;
}

@media screen and (max-width: 1140px) {
  .content-2_main {
    width: calc((100% - 70px));
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
/*# sourceMappingURL=style.css.map */