.content-1{
    padding: 50px 0;
    &__img{
        width: 100%;
        border-radius: 8px;
        margin-bottom: 40px;
    }
    &__main{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &-sm-group{
            width: 50px;
        }
        &-details{
            @media screen and (max-width: $container) {
                width: calc((100% - 70px));
                box-sizing: border-box;
            }
            width: 702px;
        }
    }
}

@import './related/related-news'