.content1-related-news{
    padding: 50px 0;
    &_title{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #6F6F6F;
        margin-bottom: 30px;
    }
    .home__news{
        padding-bottom: 0px;
    }
}