.content-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
    &_sm{
        width: 50px;
    }
    &_main{
        width: 702px;
        @media screen and (max-width: $container) {
            width: calc((100% - 70px));
            box-sizing: border-box;
        }
    }
}