.banners{
    padding: 30px 0;
    height: 424px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
        height: initial !important;
    }
    .main-banner{
        @media screen and (max-width: 480px) {
            width: 100%;
            margin-bottom: 20px;
        }
            &_big{
                @media screen and (max-width: 480px) {
                    width: 100%;
                }                
                height: 100%;
                background-image: linear-gradient(rgba(255, 255, 255, 0), #100F0F) ,url(../images/main-banner.svg);
                width: calc((100% - 24px)/2);
                
            }
            &_small{
                height: calc((100% - 12px)/2);
                background-image: linear-gradient(rgba(255, 255, 255, 0), #100F0F) ,url(../images/small-main-banner.svg);
                width: 100%;
            }
            border-radius: 8px;
            background-size: cover;
            padding: 30px 40px; 
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            &__name{
                font-weight: bold;
                font-size: 21px;
                line-height: 26px;
                color: #FFFFFF;
                margin-bottom: 22px;
            }
            .news-desc-details{
                color: rgba($color: #fff, $alpha: .7);
            }
    }
    .right-side-banners{
        @media screen and (max-width: 480px) {
            width: 100%;
        } 
        width: calc((100% - 24px)/2);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_bottom{
            height: calc((100% - 12px)/2);
            width: 100%;
            display: flex;
            justify-content: space-between;
            .small-banner{
                height: 100%;
                width: calc((100% - 24px)/2);
                border-radius: 8px;
                background: #000;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                padding: 20px 32px;
                box-sizing: border-box;
                &:first-child{
                    background-image: linear-gradient(#100f0f00, #100f0fd2, #100F0F), url(../images/small-banner-1.png);
                }
                &:nth-child(2){
                    background-image: linear-gradient(#100f0f00, #100f0fd2, #100F0F), url(../images/small-banner-2.png);
                }
                &__name{
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FFFFFF;
                }
            }
        }
    }
}