header{
    width: 100%;
    nav{
        width: 100%;
        margin: 22px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .header-input{
            padding: 24px 12px;
            width: 70%;
            border: none;
            border-left: 2px #C4C4C4 solid;
            outline: none;
            font-size: 14px;
            line-height: 17px;
            
            color: #393939;
            // margin: 20px 0;
        }
        .close-search-bar{
            font-size: 28px;
            cursor: pointer;
        }
        .search-btn{
            cursor: pointer;
        }
    }
    .header__news{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 0;
        &-single{
            @media screen and (max-width: 480px) {
                width: 100%;
                margin-bottom: 10px;
            }
            width: calc((100% - 60px)/4);
            height: 73px;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            align-items: center;
            >img{
                height: 100%;
                border-radius: 8px;
                margin-right: 24px;
            }
            &-details{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .header__news-name{
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 8px;
                    color: #393939;
                }
                .header__news-desc{
                    font-size: 12px;
                    font-weight: 400;
                    color: rgba($color: #393939, $alpha: 0.9);
                }
            }
        }
    }
}