.advertising-sec{
    width: 100%;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    >img{
        width: 100%;
        height: 100%;
        @media screen and (max-width: 480px) {
            object-fit: cover;
            // margin: -50px 0;
        }

    }
}