.about__content{
    padding: 100px 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
        padding: 30px 0;
    }
    &-img{
        width: calc((100%  - 72px)/2);
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        >img{
            width: 100%;
        }
    }
    &-details{
        @media screen and (max-width: 480px) {
            width: 100%;
            height: inherit;
        }
        width: calc((100%  - 72px)/2);
        height: 100px;
        &-title{
            font-weight: bold;
            font-size: 36px;
            line-height: 53px;
            color: #EF5A28;
            margin-bottom: 24px;
        }
        &-desc{
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: #202020;
            margin-bottom: 12px;
        }
        &-contact{
            width: 100%;
            height: 50px;
            @media screen and (max-width: 480px) {
                height: inherit;
            }
            // background-color: lightcoral;
            .contact__ways{
                display: flex;
                flex-wrap: wrap;
                &-card{
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    &:first-child{
                        margin-right: 84px;
                    }
                    >a{
                        display: inline-block;
                        padding: 12px;
                        border: 1px #E1E1E1 solid;
                        border-radius: 8px;
                        margin-right: 18px;
                        >i{
                            font-size: 24px;
                            color: #333333;
                        }
                    }
                    &-info{
                        >p{
                            font-size: 14px;
                            line-height: 17px;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}