.home__news{
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    &-card{
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        width: calc((100% - 48px)/3);
        height: 376px;
        margin-bottom: 50px;
        >img{
            width: 100%;
            border-radius: 8px;
            margin-bottom: 16px;
        }
        &_tags{
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #F05A28;
            margin-bottom: 8px;
        }
        &_title{
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            color: rgba(0, 0, 0, 0.8);
            margin-bottom: 16px;
        }
        .news-desc{
            color: rgba(0, 0, 0, 0.5);
        }
        &_add{
            width: 100% !important;
            height: 100% !important;
        }
    }
    >button{
        background-color: initial;
        cursor: pointer;
        margin: auto;
        padding: 22px 24px;
        border: solid 1px #E1E1E1;
        border-radius: 8px;
        outline: none;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.5);
    }
}