body{
    font-family: 'Montserrat', sans-serif;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #E1E1E1;
}

.container{
    width: $container;
    margin: 0 auto;
    @media screen and (max-width: $container) {
        width: 95%;
        box-sizing: border-box;
    }
}

.container-sm{
    width: $containerSm;
    margin: 0 auto;
    @media screen and (max-width: $container) {
        width: 95%;
        box-sizing: border-box;
    }
}

.news-desc{
    display: flex;
    &-details{
        font-size: 11px;
        font-weight: 400;
        margin-right: 25px;
        &:last-child{
            margin-right: 0;
        }
    }
}

.content-sm-icon{
    display: inline-block;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    text-decoration: none;
    color: rgba($color: #000000, $alpha: .8);
    background: #fff;
    border: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    &:hover{
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .15);
        transition: .2s linear;
    }
}

.content-main-details-tag{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F05A28;
}

.content-main-details-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #393939;
    margin-bottom: 14px;
}

.news-desc.news-desc-content{
    color: rgba($color: #000000, $alpha: .5);
    margin-bottom: 16px;
}

.content-img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 40px;    
}

.content-main-details-paragraph{
    margin-bottom: 30px;
    p{
        font-size: 16px;
        line-height: 23px;
        color: #393939;
        b{
            font-weight: bold;
        }
    }
}

.aphasia__sec{
    margin: 50px 0;
    height: 150px;
    width: 100%;   
    border-radius: 8px;
    display: flex;
    align-items: center;
    &-icon{
        display: inline-block;
        font-weight: bold;
        font-size: 72px;
        line-height: 88px;
        color: #202020;
        margin: 0 50px;
        @media screen and (max-width: 600px) {
            margin: 0;
            margin-right: 5px;
        }
    }
    &-divider{
        height: 100px;
        width: 2px;
        background-color: #EF5A28;
    }
    &-details{
        @media screen and (max-width: 600px) {
            font-size: 16px;
            line-height: 18px;
            margin-left: 5px;
        }
        margin-left: 32px;
        font-weight: bold;
        font-size: 16px;
        .aphasia-writer{
            line-height: 33px;
            color: #EF5A28;
        }
        .aphasia-message{
            font-style: italic;
            line-height: 23px;
            color: #202020;
        }
    }
}

.content-tags{
    display: flex;
    flex-wrap: wrap;
    .content-tag{
        @media screen and (max-width: 600px) {
            margin-bottom: 5px;
        }
        padding: 5px 24px;
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        font-size: 12px;
        line-height: 15px;
        margin-right: 18px;
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
        &-title{
            padding: 5px 10px;
            color: white;
            background: #333333;
            font-weight: bold;
        }
    }
}